body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}

.span-studio {
    color: #2e2f42;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    flex-direction: row;
}

.nav-li {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
}

.nav-li:hover {
    color: #404bbf;
}

.nav-li:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    justify-content: flex-end;
    margin-left: auto;

}

.address-li {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;

}

.address-li:hover {
    color: #404bbf;
}

.address-li:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    align-items: center;


}

.button {
    background-color: #4d5ae5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;
    border: none;
}

.button:hover {
    background-color: #404bbf;
}

.button:focus {
    background-color: #404bbf;
}

.about-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
    text-align: left;
    letter-spacing: 0.03em;
    color: #2e2f42;
    padding: 120px 0;
}

.about-li {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
}

.about-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-li {
    background-color: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

}

.footer {
    background-color: #2e2f42;
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;


}

.span-footer {
    color: #f4f4fd;
}

:root {
    --text-color: #f4f4fd;
}

.footer-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
    gap: 40px;
    border-bottom: #ffffff 1px solid;
    align-items: center;
    justify-content: center;
    border: none;
}

.portfolio-list {
    list-style: none;
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: #ffffff 1px solid;

}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 160px 80px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    list-style: none;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-bottom: #ffffff 1px solid;
}

img {
    display: block;
    max-width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
    white-space: nowrap;
}

.list-about {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.about-list {
    flex-basis: calc((100% - 72px) / 4);
}

.team-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
    border: none;
    justify-content: space-between;
}

.team-ab {
    padding: 32px 16px;
    text-align: center;
}

.team-section {
    background-color: #f4f4fd;
    padding: 120px 0;
    margin-bottom: 72px;
}