body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.span-studio {
    color: #2e2f42;
}

.nav-li {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.nav-li:hover {
    color: #404bbf;
}

.nav-li:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    justify-content: flex-end;

}

.address-li {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;

}

.address-li:hover {
    color: #404bbf;
}

.address-li:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    align-items: center;


}

.button {
    background-color: #4d5ae5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;

}

.button:hover {
    background-color: #404bbf;
}

.button:focus {
    background-color: #404bbf;
}

.about-section {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
    text-align: center;
    letter-spacing: 0.03em;
    color: #2e2f42;
    background-color: #f4f4fd;
}

.about-li {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.about-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-li {
    background-color: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

}

.footer {
    background-color: #2e2f42;
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;


}

.span-footer {
    color: #f4f4fd;
}

:root {
    --text-color: #f4f4fd;
}

.footer-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
    gap: 32px;
    border-bottom: #ffffff 1px solid;
    align-items: center;
    justify-content: center;
}

.portfolio-list {
    list-style: none;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: #ffffff 1px solid;

}

.conteiner {
    width: 1158px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    list-style: none;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-bottom: #ffffff 1px solid;
}

img {
    display: block;
    max-width: 100%;
}